/** @format */

* {
	font-family: "Open Sans", sans-serif;
}
img {
	width: 100%;
}
.l-link {
	background-color: #d9d9d9;
}
.extra-menu a.active {
	color: #51931b;
}
.extra-menu a:hover {
	text-decoration: none;
	color: #51931b !important;
}
.l-link div {
	padding: 15px 20px;
}
.l-link a {
	color: #000000;
}
.l-link a:hover {
	color: #51931b;
}
.l-menu-lg-img {
	height: 400px;
}
.l-sm-img {
	height: 50px;
}
.l-icon i:hover {
	color: blue;
	cursor: pointer;
}
.l-text-yellow {
	color: #e5c600;
}
.l-text-green {
	color: #51931b;
}
.l-border span {
	padding: 3px 10px;
	border-radius: 3px;
}
.l-border-green {
	border: 1px dashed #51931b;
}
.l-text-red {
	color: #ec0a00;
}
.l-menu-btn {
	background-color: #ec0a00;
	border: none;
	padding: 5px 20px;
	border-radius: 5px;
}
.l-no-gutter > [class*="col-"] {
	margin: 0;
}
.l-set-lg-img {
	height: 150px;
}
.l-no-gutter span.l-text-green {
	padding: 4px 8px;
	border-radius: 3px;
}
.feast-detail .l-icon i {
	font-size: 1.3rem;
}
.line-through {
	text-decoration: line-through;
}
