/** @format */

footer {
	background: url("../image/bg-footer.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 40px;
	position: relative;
	color: rgb(248, 248, 248);
}
footer .row .col-lg-4 .contact-details {
	font-size: small;
}
footer .row .col-lg-4 .position {
	width: 250px;
	font-size: small !important;
}
footer:before {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	content: "";
}
footer .follow li {
	margin: 0 3px;
}
footer .follow li a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #fff;
	text-align: center;
	font-size: 14px;
	transition: all 0.5s;
}
footer .follow li a i {
	color: #51931b;
	font-size: 15px;
}
footer .follow li a:hover {
	background: #51931b;
}
footer .follow li a:hover i {
	color: #fff;
}
footer .title {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
}
footer ul {
	list-style: none;
	padding-left: 0;
}
footer ul li {
	margin-top: 15px;
}
footer ul a {
	color: rgb(248, 248, 248);
	font-size: 0.9rem;
}
footer ul a:hover {
	color: #51931b;
	text-decoration: none;
}
.view-all {
	margin-top: 10px;
}
.view-all a {
	font-size: 13px;
	color: #ec0a00;
}

#co-operate .owl-carousel .item {
	margin: 0 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 200px;
	height: 200px !important;
}
#co-operate .owl-carousel button {
	display: none;
}

.modal .nav-link {
	color: #495057;
}
.modal .nav-link.active {
	color: #51931b;
}
footer {
	position: relative;
}
footer .copyright {
	position: absolute;
	z-index: 3;
	background-color: #222;
	display: block !important;
	text-align: center;
	padding: 1rem;
	width: 100%;
	font-size: small;
}
#co-operate .owl-carousel .item {
	margin: 0 0.5rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	justify-content: center;
	max-width: 210px;
	height: 190px;
	background-color: #eee;
}
