* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none !important;
}
body {
  background: #fafafa !important;
}

header .hotline {
  padding-top: 10px;
  background: #51931b;

  box-sizing: border-box;
}
header .hotline .follow {
  color: #fff;
  float: left;
}
header .hotline .follow li {
  display: inline-block;
  margin: 0 3px;
}
header .hotline .follow li a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #fff;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  transition: all 0.5s;
}
header .hotline .follow li a i {
  color: #51931b;
  font-size: 15px;
}

header .hotline .follow li a:hover {
  background: #51931b;
}
header .hotline .follow li a:hover i {
  color: #fff;
}

header .hotline .my-hotline {
  font-size: 16px;
  float: right;
}
header .hotline .my-hotline li {
  display: inline-block;
}
header .hotline .my-hotline li:nth-child(even) {
  margin: 0 30px;
}
header .hotline .my-hotline li a {
  font-weight: bold;
  color: #fff;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  transition: all 0.5s;
}
header .hotline .my-hotline li a i {
  padding-right: 5px;
  font-size: 20px;
}
header .hotline .my-hotline li select {
  background: #51931b;
  border: 1px solid #51931b;
  color: #fff;
  font-weight: bold;
}
header .hotline .my-hotline li select option {
  color: #fff;
  font-weight: bold;
}
/*==========het-hotline=========*/
header .menu-top {
  background: rgb(248, 248, 248);
}
header .nav-menu {
  height: 5rem;
  width: 100%;
  line-height: 5rem;
  text-transform: uppercase;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2); */
}
header .nav-menu .logo {
  margin-top: -37px;
  margin-left: -10px;
}
header .nav-menu ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-right: -20px;
  margin-left: -20px;
}
header .nav-menu .nav-link {
  font-weight: bold;
  font-size: 15px;
  font-weight: 600;
  padding: 0 10px;
  display: block;
  color: #ec0a00;
  position: relative;
  transition: all 0.5s;
}
header .nav-menu .active {
  color: #51931b;
}
header .nav-menu .login {
  font-weight: bold;
  background: #51931b;
  padding: 8px 40px;
  color: #fff;
  border-radius: 40px;
}
header .nav-menu .cart {
  position: relative;
}
header .nav-menu .cart i {
  font-size: 30px;
  margin-top: 25px;
  margin-left: 15px;
  color: #ec0a00;
}
header .nav-menu .cart .count {
  position: absolute;
  top: 15px;
  left: 40px;
  background: #ec0a00;
  border-radius: 50%;
  padding: 0.25em 0.5em;
}
/*=====menu-header==========*/
/* COMVP */
.comvp-title {
  background-color: #eeeeee;
}
.comvp-title ul li {
  float: left;
}
.comvp-title ul {
  margin: 0;
}
a.active-rice {
  color: #51931b;
  background-color: white;
  padding: 20px 20px;
  display: block;
  font-size: 15px;
  border-bottom: 1px solid #51931b;
}
.comvp-title a.create-rice {
  padding: 20px;
  display: block;
  color: #666;
  font-size: 15px;
}

.main-comvp .list-comvp {
  padding: 10px;
}
.wrapper-thumbnail {
  box-shadow: 3px 3px 5px #7070701c;
  padding: 13px;
  border: 1px solid #7070701c;
}
/* slyle wp-comvp */
.wp-comvp .list-comvp a img {
  width: 100%;
}
.wp-comvp .list-comvp a.title-rice {
  font-size: 15px;
  font-weight: 600;
  color: black;
  display: block;
  margin: 10px 0px;
}
.wp-comvp .list-comvp p {
  font-size: 14px;
  color: #383232;
}
.wp-comvp .list-comvp p i {
  color: #51931b;
  margin-left: 10px;
}
.wp-comvp .list-comvp span {
  color: red;
  font-weight: 600;
  font-size: 15px;
}
.wp-comvp .list-comvp a button {
  width: 100%;
  background-color: #ec0a00;
  border: none;
  height: 35px;
  font-size: 16px;
}
/* end com vp */

.comvp-title {
  padding: 0;
}
/* detail */
.detail-title h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.detail-title p {
  font-size: 16px;
  font-weight: 400;
}
.detail-title p span {
  color: red;
  font-weight: 600;
}
.review i.fas.fa-star {
  color: #ffc107;
}
.review .mottram {
  background-color: #ffc107;
  padding: 0 5px;
  border-radius: 4px;
  color: #fff;
  margin: 0 5px;
}
button.detail-uti {
  border: 1px solid #51931b;
  background-color: #70707000;
  color: #51931b;
  padding: 5px 10px;
  border-radius: 5px;
}
i.fas.fa-shipping-fast.shipper {
  color: #51931b;
}
.detail-title a button {
  background-color: #ec0a00;
  width: 200px;
  height: 40px;
}
.comvp-navbar {
  background-color: #eeeeee;
}
.comvp-navbar ul li {
  float: left;
}
.comvp-navbar ul {
  margin: 0;
}
.comvp-navbar a.active-rice {
  color: #51931b;
  background-color: white;
  padding: 20px 20px;
  display: block;
  font-size: 15px;
  border-bottom: 1px solid #51931b;
}
.comvp-navbar a.create-rice {
  padding: 20px;
  display: block;
  color: #666;
  font-size: 15px;
}
.detail-desc a.titles-comvp {
  font-size: 20px;
  color: black;
  font-weight: 600;
  margin-top: 5px;
  display: block;
}
.detail-desc .desc-price span {
  color: #ec0a00;
  font-weight: 600;
}
.wp-listcomvp {
  margin: 14px 0px;
  box-shadow: 3px 3px 5px #7070701c;
  padding: 13px;
  border: 1px solid #7070701c;
}
i.fas.fa-plus-circle.float-right.mt-4 {
  font-size: 22px;
}
.aside-detail {
  width: 100%;
  position: sticky;
  top: 65px;
  box-shadow: 3px 3px 5px #7070701c;
  padding: 13px;
  border: 1px solid #7070701c;
  margin-top: 14px;
}
.detail-menu.row {
  z-index: 2;
  position: sticky;
  top: 0;
}
.aside-detail h1 {
  padding: 10px;
  color: #51931b;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #7070701c;
}
.aside-detail p.aside-title {
  font-size: 14px;
}
.aside-detail p.aside-title span {
  font-size: 12px;
}
.aside-detail .sum-money {
  padding: 10px;
  margin-top: 14px;
  border-top: 1px solid #7070701c;
  font-size: 14px;
  font-weight: 400;
}
.aside-oder button.fas.fa-plus-square {
  color: #51931b;
  border: none;
}
.aside-oder button.fas.fa-minus-square {
  border: none;
  color: #383232;
}
.aside-oder span {
  font-size: 14px;
  color: #ec0a00;
}
.aside-note input {
  border: 1px solid #7070701c;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.aside-comvp {
  box-shadow: 0px 0px 3px 2px #51931b2b;
  padding: 10px;
}
/* tao suat */
.create-title {
  margin-top: 14px;
}
.create-title ul li {
  margin: 0 auto;
  float: left;
}
.create-title ul li .select-produc {
  padding: 10px;
  display: block;
  color: #666;
  font-size: 14px;
}
.create-title ul li .active-product {
  border-bottom: 1px solid #51931b;
  background-color: white;
  color: #51931b;
}
.aside-list {
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px 2px #51931b2b;
  padding: 10px;
}
.aside-list a.titles-comvp {
  font-size: 14px;
  color: #000;
}
.aside-list .aside-price {
  font-size: 12px;
}
.aside-list .aside-price span {
  color: #ec0a00;
}
.create-title.row {
  background: white;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.wp-create .aside-detail {
  top: 0;
}
.main-set {
  padding: 5px 15px;
}
.main-oder button.fas.fa-plus-square {
  border: none;
  color: #51931b;
  cursor: pointer;
}
.main-oder button.fas.fa-minus-square {
  border: none;
  cursor: pointer;
}
/* /////////////////phan chung footer///////////////////////////////*/
/*   ========đối tac-==========*/
.doi-tac .title {
  text-align: center;
  margin: 50px 0;
}
.doi-tac .title h3 {
  font-size: 30px;
  color: #51931b;
  font-weight: bold;
  text-transform: uppercase;
}
.doi-tac {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.doi-tac img {
  margin-right: 60px;
  margin-bottom: 30px;
}
.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 14px !important;
  padding: 5px !important;
  border-radius: 50% !important;
  background: red !important;
}

/*///////footer*/
footer {
  background: url("../img/bg-footer.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  position: relative;
  color: rgb(248, 248, 248);
}
footer:before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
}
footer .follow li {
  display: inline-block;
  margin: 0 3px;
}
footer .follow li a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #fff;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  transition: all 0.5s;
}
footer .follow li a i {
  color: #51931b;
  font-size: 15px;
}
footer .follow li a:hover {
  background: #51931b;
}
footer .follow li a:hover i {
  color: #fff;
}
footer .title {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-top: 15px;
}
footer ul a {
  color: rgb(248, 248, 248);
}
footer ul a:hover {
  color: #51931b;
}
.view-all {
  margin-top: 10px;
}
.view-all a {
  font-size: 13px;
}
