/** @format */

@media (max-width: 414px) {
	#meal-search main nav.nav-filter {
		margin-top: 0.5rem;
		margin-left: 0.2rem;
	}
	#meal-search {
		width: 100vw;
	}
	#meal-search .overlay {
		background-color: rgba(0, 0, 0, 0.2);
		width: 100vw;
	}
	#meal-search .container {
		width: 100%;
	}
	#hot-dishes .owl-nav button {
		display: none;
	}
	#meal-search main,
	#meal-search aside {
		padding-right: 0;
	}
	#meal-search aside {
		width: 100%;
		padding-left: 0.6rem;
	}
	#meal-search main nav.nav-filter ul li {
		display: none;
	}
	#meal-search main nav.nav-filter ul li:first-child,
	#meal-search main nav.nav-filter ul li:nth-child(2),
	#meal-search main nav.nav-filter ul li:nth-child(4),
	#meal-search main nav.nav-filter ul li:nth-child(3) {
		display: block;
	}
	#meal-search main nav.filter-food ul li:nth-child(4) {
		display: none;
	}
	#meal-search main nav.filter-food ul li a {
		font-size: 0.75rem;
	}
	#meal-search main .food {
		padding-right: 0;
	}
}
