*{
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
.main_left{
    /* position: fixed; */
    background-color: #090908;
    height: 100vh;
    width: 16%;
    float: left;
}
.main_left_logo{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.main_left_logo img{
    width: 50%;
}
.main_left_list{
    margin-top: 50px;
}
.main_left_list ul li{
    margin-top: 20px;
}
.main_left_list ul li a{
    font-weight: 700;
    color: #fff;
}
.main_left_logoprf img{
    width: 30%;
    margin-right: 10px;
    border-radius: 50%;
}
.main_left_list ul li .nav-link:hover{
    color: #51931B;
}
.main_left_list ul li .nav-link.active{
    color: #51931B;
}
.main_left_list_search form input{
    width: 100%;
}
.main_right{
    overflow-y: scroll;
    height: 100vh;
    width: 84%;
    float: right;
}
.main_right_btn_active{
    background-color: #51931B;
    color: #fff;
}
.main_right_list_btn{
    margin: 50px 50px 10px 50px;
}
.navbar_main_right_list{
    padding: 0px;
}
.navbar_main_right_list_day{
    padding: 0px 15px;
    position: relative;
}
.navbar_main_right_list_day i{
    font-size: 50px;
    color: #51931B;
}
.navbar_main_right_list_today{
    position: absolute;
    left: 38px;
    bottom: 8px;
    color: #fff;
}
.main_right_list_btn_list{
    border: 1px solid #51931B;
    padding: 5px 20px;
}
.main_right_container{
    border: 1px solid #51931B;
    box-shadow:0px 0px 5px 1px #51931B;
    margin-top: 50px;
}
.main_right_container_title{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.main_right_container_listbtn{
    width: 100%;
    text-align: center;
}
.main_right_container_listbtn button{
    margin: 20px;
}
.btn{
    margin-left: 1px;
}
.main_right_day_menu{
    width: 100%;
    text-align: right;
    position: relative;
}
.main_right_bua{
    border: 1px solid #0000005e;
    margin-top: 10px;
    box-shadow: 5px 5px 5px 0px #0000005e;
    border-radius: 5px;
}
.main_right_bua_list_icon{
    text-align: right;
    transform: scale(0);
    transition: 0.5s;
}
.main_right_bua_title:hover .main_right_bua_list_icon{
    transform: scale(1);
}
.card-body-icon:hover .main_right_bua_list_icon{
    transform: scale(1);
}
.main_right_bua_list_icon i{
    font-size: 25px;
    margin-left: 10px;
}
.main_right_bua_title{
    padding: 10px;
}
.main_right_bua_search{
    border: 1px solid #0000005e;
    margin-top: 10px;
    box-shadow: 5px 5px 5px 0px #0000005e;
    border-radius: 5px;

}
.main_right_search .row{
    margin: 0px;
}
.main_right_search_icon_clone{
    width: 100%;
    text-align: center;
}
.main_right_search_icon_clone i{
    font-size: 30px;
    color: #51931B;
    line-height: 50px;
}
.main_right_search_list{
    border: 1px solid #0000005e;
    margin-top: 10px;
    box-shadow: 5px 5px 5px 0px #0000005e;
    border-radius: 5px;
    display: none;
}
.main_right_search_list.show{
    display: block;
}
#main_search_setmenu h4{
    padding-left: 10px;
}
.main_right_day_menu_list{
    border: 1px solid #51931B;
    box-shadow: 0px 0px 10px 1px #51931B;

}
.main_right_day_menu_list.show{
    display: block;
}
.main_right_day_menu_list ul{
    list-style: none;
}
.main_right_day_menu_list ul li{
    text-align: left;
    margin-top: 5px;
}
.main_right_day_menu_list a i{
    color: #51931B;
    font-size: 14px;
}
.main_right_bua_title_btn{
    padding: 0px;
}
.text-center{
    width: 100%;
}
.setmenu_showtp{
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
#peopleformmd{
    height: 25px;
    padding: 0px;
}
.modal-body{
    padding: 0px 20px;
}
.chitietmonan_image img{
    width: 100%;
    height: 250px;
}
.chitietmonan_nl{
    height: 250px;
    border: 1px solid #51931B;
    overflow-y: scroll;
}
.chitietmonan_nl_dv p{
    padding-top: 25%;
}
.chitietmonan_nl_btncs{
    width: 100%;
    text-align: right;
}
.chitietmonan_list_btn{
    margin-top: 20px;
}
.chitietmonan_list_btn hr{
    margin: 0px;
}
.chitietmonan_list_btn button i{
    color: #51931B;
}
.chinhsuabuan_chinhsua_image_ip{
    display: none;
}
.chinhsuabuan_chinhsua_image{
    position: relative;
}
.chinhsuabuan_chinhsua_image label{
    display: block;
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0.7;
    border:1px solid #51931B;
    background-color: #51931B;
    color: #fff;
    padding: 5px 10px;
}
.chinhsuabuan_chinhsua_image img{
    width: 40%;
}
.width-100{
    width: 100%;
}
.top-20{
    margin-top: 20px;
}
.chinhsuabuan_chinhsua_listtp{
    width: 100%;
    border: 1px solid #00000059;
    height: 500px;
    overflow-y: scroll;
}
.chinhsuabuan_chinhsuamd{
    box-shadow: 0px 0px 10px 5px #51931B;
}
.chitietmonan_chinhsua_add{
    box-shadow: 0px 0px 10px 5px #51931B;
}
.main_left.show{
    z-index: 999;
    opacity: 1;
    width: 250px;
}
#clickshow{
    position: absolute;
    top: 5px;
    z-index: 2;
    display: none;
    width: 50px;
    background-color: #51931B59;
}
@media (min-width: 576px){
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
    .addthucphammd, .chinhsuabuan_chinhsuamd{
        max-width: 690px;
    }
    .chitietmonanmd{
        max-width: 960px;
    }

}
@media (max-height: 500px){
    .main_left{
        overflow-y: scroll;
    }
}
@media (max-width: 990px){
    .main_left{
        position: fixed;
        width: 0px;
        z-index: -1;
        opacity: 0;
        transition: all 0.5s;
    }
    .main_right{
        position: absolute;
        width: 100%;
    }
    #clickshow{
        display: block;
    }
}
@media (max-width:767px){
    .main_right_search{
        display: none;
    }
    .card-img{
        width: 20%;
        margin: 0px auto;
    }
    .width-mb{
        display: none;
    }
}
